.product .p_bottom {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(-10px);
}
.product{
    box-shadow: 0 4px 14px 1px rgb(0 0 0 / 4%);
    border: 1px solid #fff;
}
.product .p_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    height: 48px;
}
.product:hover{
    box-shadow: 0 4px 14px 1px rgb(0 0 0 / 8%);
}
.product:hover .p_bottom {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    z-index: 9;
}
.wishlist{
    opacity: 0;
}
.product:hover .wishlist{
    opacity: 1;
}
.wishlist svg{
    transition-duration: 0ms !important;
}